.navbar {
	position: fixed;
	top: 0; bottom: auto;
	right: 0; left: 0;
	z-index: 100;

	background-color: #FCFCFC;
	height: 50px;
	padding: 0 10px;
	color: #333;
}

.navbar .homeButton {
	width: 10px;
}