.tagSearch {
	padding: 60px 1px;
}

.tagSearch .title {
	margin: 20px;
	font-weight: 600;
	color: #555;
}

.tagSearch .noResultContainer {
	height: 200px;
}

.tagSearch .grid {
	min-width: 150px;
	padding: 10px;
}

.tagSearch .grid .md-button {
	width: 100%;
	text-transform: none;
}

.tagSearch .imageContainer img {
	max-width: 100%;
	max-height: auto;
}

.tagSearch .imageContainer .md-button {
	margin: 0;
	padding: 0;
	line-height: 0;
}

.tagSearch .imageContainer .infoContainer {
	padding: 0 10px 10px;
}