/*
*   Primary Color: #F44336;
*   Primary Dark: #B71C1C;
*   Accent Color: #4CAF50;
*   White: #FCFCFC;
*/

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

md-input-container .md-input {
    border-color: #B71C1C;
}

html, body {
    background-color: #FCFCFC;
}