.main {
	padding: 60px 1px;
}

.main .title {
	margin: 20px;
	font-weight: 600;
	color: #555;
}

.main .uploadFile {
	margin: 20px;
	padding: 10px;
	border: solid 1px #4CAF50;
}

.main .grid {
	min-width: 150px;
	padding: 10px;
}

.main .grid .md-button {
	width: 100%;
	text-transform: none;
}

.main .imageContainer img {
	max-width: 100%;
	max-height: auto;
}

.main .tag {
	padding: 0;
	margin: 0 5px;
	text-decoration: none;
	color: #888;
}

.main .imageContainer .md-button {
	margin: 0;
	padding: 0;
	line-height: 0;
	border-radius: 0;
}

.main .imageContainer .infoContainer {
	padding: 0 10px 10px;
}

label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

.main .bottomBar {
	border-top: solid 2px #4CAF50;
	border-right: solid 2px #4CAF50;
	border-left: none;
	border-bottom: none;
	border-radius: 0 10px 0 0;
	background-color: #FCFCFC;
	position: fixed;
	bottom: 0;
}

.main .bottomBar .md-button {
	padding: 0;
}

.main .bottomBar .md-button label {
	cursor: pointer;
	padding: 10px;
}