.main {
	padding: 60px 0;
}

.main .grid {
	min-width: 150px;
	padding: 10px;
}

.main .grid .md-button {
	width: 100%;
}

.main .imageContainer {
	padding: 10px;
	border: solid 1px #F44336;
}

.main .imageContainer img {
	max-width: 100%;
	max-height: auto;
}